<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Category:</b> <%= @content_block.section.name %></p>
<p><b>Body:</b> <%= @content_block.body %></p>
<p><b>Banner Image:</b> <%= @content_block.banner_image %></p>
