<!DOCTYPE html>
<html>
<head>
  <title>BcmsMy401kLibrary</title>
  <%= stylesheet_link_tag    "bcms_my401k_library/application", :media => "all" %>
  <%= javascript_include_tag "bcms_my401k_library/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
